<div id="news" onload="news()">
    <h3 id="newsH3">Latest News</h3>
    <h4 id="newsH4"></h4>
    <p id="newsP"></p>
</div>

<div id="buySellBtn">
    {{#if logged_in}}
    <button class="itemBtn" type="submit">List Item</button>
    {{/if}}
    <button class="itemBtn" type="submit">View Items</button>
</div>


<div id="displayList" class="scroll">

{{#each items as |item|}}
<div class="itemBox" data-value="{{item.id}}">
    <div class="circle">
        <img id="img_{{item.id}}" class="circleitemImg" src="{{item.image_link}}" alt="{{item.name}}">
    </div>
    <h4 id="name_{{item.id}}" class="itemH4">{{item.name}}</h4>
    <p id="desc_{{item.id}}" class="hiddenDesc">{{item.description}}</p>
    </span><P class="itemP" id="price_{{item.id}}" ><span class="creditGreen itemCred"></span>{{item.price}}</P>
</div>
{{/each}}
            const vImg = "img_" + att;
        const vName = "name_" + att;
        const vPrice = "price_" + att;
        const vDesc = "desc_" + att;
</div> 


<script src="/js/news.js"></script>
<script>
    var item = document.getElementById("displayList");
    window.addEventListener("wheel", function (e) {
    if (e.deltaY > 0) item.scrollLeft += 80;
    else item.scrollLeft -= 80;
    });
</script>