<div id="news" onload="news()">
    <h3 id="newsH3">Latest News</h3>
    <h4 id="newsH4"></h4>
    <p id="newsP"></p>
</div>

{{!-- <div id="buySellBtn">
    {{#if logged_in}}
    <button class="itemBtn" type="submit">List Item</button>
    {{/if}}
    <button class="itemBtn" type="submit">View Items</button>
</div>


<div id="displayList" class="scroll">

    {{{itemHorz}}} --}}
    
{{!-- </div> --}}

<!-- Item Display Modal -->
<div id="myModal3" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div id = "container3">
            <form id = "form2">
                <img src="{{product.image_link}}" id="image_link3"></img>
                <h2 class="title">Update Listing</h2>
                <div class="display-item">
                    <p id="#name3">{{product.name}}</p>
                    <p id="price3">{{product.price}}</p>
                    <hr/>
                    <p id="description3">{{item.description}}</p>
                </div>
            </form>
        </div>
        <br/><br/>
        <button id="addToCart" class="itemBtn">Add to Cart</button><button id="canx2" class="itemBtn">Cancel</button>
    </div>
</div>
<!-- ....................... -->


<script src="/js/news.js"></script>
<script>
    var item = document.getElementById("displayList");
    window.addEventListener("wheel", function (e) {
    if (e.deltaY > 0) item.scrollLeft += 80;
    else item.scrollLeft -= 80;
    });
</script>